<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>BricolageGrotesque-ExtraLight.ttf</string>
		<string>BricolageGrotesque-Light.ttf</string>
		<string>BricolageGrotesque-Regular.ttf</string>
		<string>BricolageGrotesque-Medium.ttf</string>
		<string>BricolageGrotesque-SemiBold.ttf</string>
		<string>BricolageGrotesque-Bold.ttf</string>
		<string>BricolageGrotesque-ExtraBold.ttf</string>
		<string>DMSans-Thin.ttf</string>
		<string>DMSans-ThinItalic.ttf</string>
		<string>DMSans-ExtraLight.ttf</string>
		<string>DMSans-ExtraLightItalic.ttf</string>
		<string>DMSans-Light.ttf</string>
		<string>DMSans-LightItalic.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Italic.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-MediumItalic.ttf</string>
		<string>DMSans-SemiBold.ttf</string>
		<string>DMSans-SemiBoldItalic.ttf</string>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-BoldItalic.ttf</string>
		<string>DMSans-ExtraBold.ttf</string>
		<string>DMSans-ExtraBoldItalic.ttf</string>
		<string>DMSans-Black.ttf</string>
		<string>DMSans-BlackItalic.ttf</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
